#horaire {

    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    text-align: center;
    margin: 0 auto;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(11, 50px);

    div {

        border: 1px solid black;
        border-radius: 5px;

        &.jour {

            transition: opacity .2s;
            opacity: 1;
            background-color: $couleur_jours;

            &:hover {

                opacity: .7;

            }

            h2 {

                user-select: none;
                color: red;

            }
        }

        &#libre_lundi {

            grid-area: 2/1/7/1;

        }

        &.lundi {

            grid-area: 7/1/12/1;

            p {

                margin: 3px;

            }

        }

        &#libre_mardi {

            grid-area: 2/2/6/2;

        }

        &#pause_mardi {

            grid-area: 6/2/8/2;

        }

        &.cours_mardi {

            grid-area: 8/2/12/2;

        }

        &#cours_mercredi {

            grid-area: 5/3/6/3;

        }

        &#libre_mercredi_1 {

            grid-area: 2/3/5/3;

        }

        &#libre_mecredi_2 {

            grid-area: 6/3/7/3;

        }

    }   

}