#horaire {

    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    text-align: center;
    margin: 0 auto;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(11, 50px);

    div {

        border: 1px solid black;
        border-radius: 5px;

        &.jour {

            transition: opacity .2s;
            opacity: 1;
            background-color: $couleur_jours;

            &:hover {

                opacity: .7;

            }

            h2 {

                user-select: none;
                color: red;

            }
        }

        &#libre_lundi {

            grid-area: 2/1/7/1;

        }

        &.lundi {

            grid-area: 7/1/12/1;

            p {

                margin: 3px;

            }

        }

        &#libre_mardi {

            grid-area: 2/2/6/2;

        }

        &#pause_mardi {

            grid-area: 6/2/8/2;

        }

        &.cours_mardi {

            grid-area: 8/2/12/2;

        }

        &#cours_mercredi {

            grid-area: 5/3/6/3;

        }

        &#libre_mercredi_1 {

            grid-area: 2/3/5/3;

        }

        &#libre_mecredi_2 {

            grid-area: 6/3/7/3;

        }

        &#cours_mercredi_2 {

            grid-area: 7/3/10/3;

        }

        &#libre_mercredi_3 {

            grid-area: 10/3/12/3;

        }

        &#cours_jeudi_1 {

            grid-area: 2/4/6/4;

        }

        &#pause_jeudi {

            grid-area: 6/4/8/4;

        }

        &#cours_jeudi_2 {

            grid-area: 8/4/12/4;

        }

        &#libre_vendredi_1 {

            grid-area: 2/5/7/5;

        }

        &#cours_vendredi {

            grid-area: 7/5/10/5;

        }

        &#libre_vendredi_2 {

            grid-area: 10/5/12/5;

        }

    }   

}

@media screen and (min-width: 768px) {

    h1 {

        font-size: 3em;

    }

    #horaire {

        font-size: 1.1em;
        grid-template-columns: repeat(5, 140px);

    }

}

@media screen and(min-width: 1200px){

    #horaire {

        grid-template-columns: repeat(5, 200px);

    }


}