body {
    width: 100vw;
    min-height :100vh;
    font-family: 'Roboto', sans-serif;
    // le layout est entièrement flexbox
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(255, 231, 186);
}

header {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#horaire {

    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    text-align: center;
    grid-template-columns: 100px 100px 100px 100px 100px;

    div {

        border: 1px solid black;
        border-radius: 5px;

        &.jour {

            background-color: $couleur_jours;
    
        }

    }

    

}