@mixin style_case_libre($bkg_couleur: $couleur_libre) {
    background-color: $bkg_couleur;    
}

@mixin style_case_cours($bkg_couleur: $couleur_cours) {
    background-color: $bkg_couleur;
}

@mixin style_case_pause($bkg_couleur: $couleur_pause) {
    background-color: $bkg_couleur;
}

#libre_lundi,
#libre_mardi,
#libre_mercredi_1,
#libre_mecredi_2 {

    @include style_case_libre();

}

.projet,
.cours_mardi,
#cours_mercredi,
#cours_mercredi_2 {

    @include style_case_cours();

}

#pause_mardi {

    @include style_case_pause();

}