@mixin style_case_libre($bkg_couleur: $couleur_libre) {
    background-color: $bkg_couleur;    
}

@mixin style_case_cours($bkg_couleur: $couleur_cours) {
    background-color: $bkg_couleur;
}

@mixin style_case_pause($bkg_couleur: $couleur_pause) {
    background-color: $bkg_couleur;
}

#libre_lundi,
#libre_mardi,
#libre_mercredi_1,
#libre_mecredi_2,
#libre_mercredi_3,
#libre_vendredi_1,
#libre_vendredi_2 {

    @include style_case_libre();

}

.projet,
.cours_mardi,
#cours_mercredi,
#cours_mercredi_2,
#cours_jeudi_1,
#cours_jeudi_2,
#cours_vendredi {

    @include style_case_cours();

}

#pause_mardi,
#pause_jeudi {

    @include style_case_pause();

}